.list_item_div {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
}

.checkbox_and_item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  position: relative;
}

.checkmark {
  position: absolute;
}

.grippy_container {
  display: flex;
  align-items: center;
  margin-right: -5px;
}

.grippy {
  cursor: grab;
  height: 31px !important;
  width: 31px !important;
}

.list_item_div svg {
  height: 27px;
  width: 27px;
}

.trash_icon {
  height: 25px !important;
  width: 25px !important;
}

.list_item {
  flex-grow: 1;
}

.right_side {
  display: flex;
  align-items: center;
}
