.list_item_div {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 2px;
  align-items: center;
  justify-content: space-between;
}

.checkbox_and_item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.list_item_div svg {
  height: 27px;
  width: 27px;
}

.list_item {
  flex-grow: 1;
}
